.DeskDetail {

}

.DeskDetail .deskItem {
    border: 1px solid #060606;
    margin: 0 auto;
}

.DeskDetail li {
    list-style: none;
    display: flex;
    justify-content: space-between;
    border: 1px solid #7a7777;
    min-height: 30px;
    border-radius: 5px;
    margin: 5px;
    padding-left: 10px;
}

.DeskDetail-status {
    display: block;

}

.DeskDetail-status li{
    list-style: none;
    border: 0;
    display: inline-block;
}