.App {
  text-align: center;
}

.App section {
  display: flex;
}


.App-header {
  background-color: #7a7777;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-header button {
  background: #b0ebff;
  color: #060606;
}
.deskItem {
  min-width: 300px;
  max-width: 400px;
  padding: 20px;
}

.deskItem h2 {
  text-align: center;
}
.App-link {
  color: #09d3ac;
}

.App ul {
  margin: 0;
  padding: 0;
}

.App li {
  list-style: none;
  display: flex;
  justify-content: space-between;
  border: 1px solid #7a7777;
  min-height: 30px;
  border-radius: 5px;
  margin-bottom: 5px;
  padding: 5px;
  padding-left: 10px;

}
.App .task {
  flex-grow: 1;
}
.App .decoration {
  text-decoration: line-through;
}
.App .btn {
  padding: 5px;
  margin: 5px;

}

.App .btn.delete {
  color: red;
}

.App .btn.check {
  color: darkgreen;
}

.App-tasklist {
  text-align: left;
  padding: 50px;
  max-width: 300px;
}

.App-status {
   display: block;

 }

.App-status li{
   list-style: none;
  border: 0;
  display: inline-block;
}