.App {
  text-align: center;
}

.App section {
  display: flex;
}


.App-header {
  background-color: #7a7777;
  min-height: 10vh;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-header button {
  background: #b0ebff;
  color: #060606;
  margin: 15px;
}

ul {
  margin: 0;
  padding: 0;
}